# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/

# ngrok
ngrok.exe
ngrok.yml
ngrok.zip

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

